RewriteEngine On

# If request is a directory (like just /website/), send to server.php
RewriteRule ^$ server.php [L]

# If request is not an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else to server.php
RewriteRule ^ server.php [L]
